.CardLookup {
    text-align: center;
}

.submitForm {
    height: 32px;
    width: 200px;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: black 0.5px 0.5px 0.5px;
}

#searchResult {
    color: #66FCF1;

    text-align: center;
    margin: auto;
}

@media (max-width: 501px) {
    .CardLookup #searchResult {
        font-size: 20px;
    }

    .submitForm {
        margin: auto;
    }
}