@media screen and (min-width: 1200px) {
    .CardLookup {
        text-align: center;
        margin: auto 0%;
    }
}

@media screen and (min-width: 1600px) {
    .CardLookup {
        text-align: center;
        margin: auto 5%;
    }
}

p {
    text-align: left;
}



input {
    height: 32px;
    width: 200px;
    margin: 10px 10px;
    border-radius: 5px;
    box-shadow: black 0.5px 0.5px 0.5px;
}

#searchResult {
    color: #66FCF1;

    text-align: center;
}