.Toolbar {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1F2833;
    /* will be "on top", if browser supports it */
    /* background-image: linear-gradient(steelblue, black); */
    /* these will reset other properties, like background-position, but it does know what you mean */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 80%;
}

.Logo {
    height: 100%;
    padding-top: 15px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}