.pageWrapper .DeckWrapper {
    padding: auto 10%;
    margin: auto 200px;
}

.DeckWrapper {
    text-align: center;
    height: 50%;
    width: 40%;
    border: 1px solid black;
    border-radius: 2em;
    /* padding: 15px; */
    margin: 1% 4%;
    background-color: blue;
    top: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.DeckWrapper:hover {
    cursor: pointer;
}

.Obelisk {
    background-color: #2425A2;
    background-image: linear-gradient(#5151eb, rgb(0, 0, 0));
    /* border: 2px solid #ffffff; */
}

.Ra {
    /* background-color: rgb(255, 221, 2); */
    background-image: linear-gradient(rgb(129, 116, 31), rgb(116, 96, 64));
    border: 2px solid #000000;
}

.Slifer {
    background-color: #360404;
    background-image: linear-gradient(#441717, rgb(134, 40, 40));
    /* border: 2px solid #ffffff; */
}



.DeckWrapper img {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    /* width: 110px; */
    margin: 3px 3px;
    display: inline-block;
    position: relative;
}

.DeckWrapper .DeckInfo {
    color: black;
    width: 100%;
    border-radius: 1em;
    border-collapse: collapse;
    background-color: gray;
}


.Ra .DeckInfo {
    color: #ffffff;
    background-color: #000000;
}

.Slifer .DeckInfo {
    color: #ffffff;
    background-color: #000000;
}

.Obelisk .DeckInfo {
    color: #ffffff;
    background-color: #000000;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.GradeSelector {
    text-align: center;
}

.GradeSelector label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    color: #000000;
}

.GradeSelector select {
    margin: 0px 10px;
}

.DeckWrapper .GradeSelector button {
    margin: 15px 10px;
    padding: 10px;
    font: inherit;
    border: 2px solid #ffffff;
    border-radius: .75em;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

.DeckWrapper .GradeSelector button:hover {
    border: 3px solid #ffffff;
    background-color: #FF1A1A;
    color: #ffffff;
}

.DeckWrapper .DeckInfoWrapper {
    /* background-image: linear-gradient(to bottom right, black, #2425A2); */
    /* background-color: grey; */
    padding: 1em;
    margin: auto;
}

.DeckWrapper .DeckInfoWrapper a {
    padding: none;
    text-align: center;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
}

.DeckWrapper .DeckInfoWrapper p {
    text-align: center;
}

.DeckWrapper .DeckInfoWrapper a:hover {
    text-align: center;
    text-decoration: underline;
}

.DeckWrapper .DeckInfoWrapper a:visited {
    padding: none;
    text-align: center;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    color: inherit;
}

.DeckWrapper .DeckInfoWrapper h1 {
    padding: none;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.DeckWrapper .DeckInfoWrapper .categoryText {
    text-align: right;
    padding-right: 10px;
}