/*exclusive mobile */
@media (max-width: 501px) {


    .Homepage h3 {
        max-width: 25ch;
        text-align: center;
        margin: auto;
        margin-bottom: 1em;
    }

    .guide {
        width: 300px;
    }

}

/* Mobile to MacBook 13in*/
@media only screen and (min-width: 502px) and (max-width: 1889px) {


    .guide {
        width: 400px;
    }

}

/* Current 23in monitor */
@media only screen and (min-width: 1890px) and (max-width: 2529px) {


    .guide {
        width: 400px;
    }
}

/* Bigger monitor */
@media only screen and (min-width: 2530px) {


    .guide {
        width: 400px;
    }
}


.Homepage {
    text-align: center;
    /* background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dd6hhqr-4d78dc79-421a-4504-9431-6e10e1efdf1e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODRkYzEzYjctYTJlNy00YjQ1LTgzZWMtMzExZTcyZTgyOTAwXC9kZDZoaHFyLTRkNzhkYzc5LTQyMWEtNDUwNC05NDMxLTZlMTBlMWVmZGYxZS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.rlMLe26tqLH_TgIRWS5dDdSHZccBalzyMOcGW6xDcI0"); */
    background-size: cover;
    /* margin: 0 0 !important; */
    /* border-radius: 300px; */
    box-shadow: inherit 100px 100px 500px 500px;
    /* border-radius: 10px; */
    filter: blur(0px);
    transform-style: preserve-3d;
}

.Homepage:after {
    content: '';
    position: absolute;
    background: inherit;
    top: -40px;
    z-index: -1;
    transform: translateZ(-100px) translateX(-50%);
    filter: blur(7px);
}


.Homepage .home-wrapper {
    margin-top: 100px;
}

.Homepage h1 {
    font-size: 300%;
}

.Homepage ul {
    list-style: none;
    text-align: center;
    justify-content: center;
}

.Homepage li {
    list-style: none;
    display: inline-flex;
    padding-right: 100px;
    padding-left: 100px;
}

.table a:link {
    text-decoration: none;
    color: #66FCF1;
}

.table a:visited {
    text-decoration: none;
    color: #66FCF1;
}

.table a:hover {
    text-decoration: underline;
    color: #66FCF1;
}

.table a:active {
    text-decoration: underline;
}

.guide {
    position: relative;
    text-align: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* background-color: rgba(60, 107, 178, .6); */

    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);

    /* background: linear-gradient(rgb(255, 255, 255), rgba(44, 67, 87, 0.692)); */
    /* border: solid 1px white; */
    border: solid 1px black;
    box-sizing: border-box;
    height: 187.5px;
    /* width: 400px; */
    margin: auto 10px;
    border-radius: 5px;
}

.guide:hover {
    box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
    background-color: rgba(247, 249, 249, .3);
}

.guide img {
    width: 100%;
    height: 80%;
    /* border-radius: 5px; */
    border-bottom: black 1px solid;
}

@media (max-width: 501px) {
    .guide {
        width: 360px;
    }
}

.container {
    padding: 2px 2px;
    text-align: center;
    line-height: 0;
}

.guide h4 {
    position: relative;
    bottom: 8px;
    left: 16px;
}

.articles {
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.articles:hover {
    width: auto;
    height: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;


}

.articles li {
    padding: 10px 5px 10px;
}

.Homepage .articles .guide .container .test {

    display: none;
}

.Homepage .articles .guide:hover .container .test {
    text-align: center;
    display: block;
    margin-top: 14px;
    font-size: 10px;
}