.page-wrapper {
    margin: auto 250px;
}
input[type="text"]
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
    font-size: 28px;
    width: 600px;
}
.page-wrapper .title {
    text-align: center;
}

.react-tabs {
    text-align: center;
}

.builderComponent {
    overflow-y: scroll;
    height:50vh;
}
.searchWrapper {
    text-align: left;
}
.searchComponent {
    overflow-y: scroll;
    height:50vh;
}

.submitWrapper {
    text-align: right;
    margin: 10px 95px;
}

.display-results {
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}


    
.react-tabs .deck-wrapper {
    width: 100%
}

.react-tabs .deck-wrapper img{
    width: 125px;
    margin: 5px 5px;
    display: inline-block;
}

.deck-list {
    display: inline-block;
    position: relative;
}


.img-container {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
  }
  
  .deck-container img{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
    
  }

  .deck-container {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
    
  }

  .extra-container {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
  }
  
  .button {
      display: none;
      color: white;
      background-color: black;
      width: 100px;
      height: 35px;
      line-height: 30px;
  }

  /* .img-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: black;
  } */

 .overlay .icon .icon-img{
      text-align: right !important;
      justify-content: right !important;
      top: 0 !important;
      right: 0 !important;
      transform: translate(170%, -780%);
      display: none;
  }


  .img-container:hover .icon-img{
    text-align: right !important;
    justify-content: right !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(130%, -540%);
    /* transform: translate(200%, -750%); */
    display: inline-block;
}

  .img-container:hover .overlay {
      opacity: 0.5;
    }
  
  .deck-container:hover .button {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      width: 100%;
      text-align: center;
  }

  /* .img-container .icon-img:hover {
      color: #eeeeee;

  } */
  
  .img-container:hover img {
      transform: scale(1.01);
  }