.page-wrapper {
    margin: auto 7.5%;
    height: 100%;
    overflow: auto;
    margin-top: 8%;
}

@media (max-width: 501px) {
    .page-wrapper {
        display: grid;
        margin: 0;
        align-content: center;
    }
}

.form-container {
    position: absolute;
}

.form {
    padding-right: 0px;
    display: inline-block;
}

input.search-input {
    background: rgba(0, 0, 0, 0);
    margin-bottom: 0px;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    width: auto;
}

input.title-input {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    width: 30%;
    margin-bottom: 0px;
    margin-left: 1%;
    border-bottom: none;
}



input.skill-input {
    /* background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: auto;
    margin-left: 1%; */
    margin-bottom: 0px;
}

.page-wrapper .title {
    text-align: center;
}

.build-wrapper {
    float: left;
    width: 48%;
    background-color: #0B0C10;
    background-image: url("https://i.pinimg.com/originals/dc/2e/54/dc2e54733d48a96bf85e05382bccead3.jpg");
    height: 60vh;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0.5em;
    min-height: 200px;
    margin: auto 1%;
    border: 1px solid black;
    /* border: 1px solid #66FCF1; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    border-radius: .5em;
}

.build-wrapper:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.emptyWrapper {
    border: 1px solid black;
    width: 100%;
    float: left;
    background-color: #0B0C10;
    height: 15vh;
    background-image: url("https://i.pinimg.com/originals/dc/2e/54/dc2e54733d48a96bf85e05382bccead3.jpg");
    padding: 0.5em;
    box-sizing: border-box;
    margin: auto 1%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    border-radius: .5em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptySearch {
    border: 1px solid black;
    width: 100%;
    float: left;
    background-color: #0B0C10;
    height: 15vh;
    background-image: url("https://i.pinimg.com/originals/dc/2e/54/dc2e54733d48a96bf85e05382bccead3.jpg");
    padding: 0.5em;
    box-sizing: border-box;
    margin: auto 1%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    border-radius: .5em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-container {
    color: gray;
}

.searchWrapper {
    float: left;
    width: 95%;
    background: transparent;
    color: #0B0C10;
    height: 60vh;
    min-height: 200px;
    box-sizing: border-box;
    border-top: none;
    padding: 0.5em;
    overflow-y: scroll;
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/dc/2e/54/dc2e54733d48a96bf85e05382bccead3.jpg");
    margin: auto 1%;
    /* border: 1px solid #66FCF1; */
    border: 1px solid black;
    border-radius: .5em;
}

.searchWrapper:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submitWrapper {
    text-align: right;
    margin: 10px 15px;

}

.display-results {
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.deck-list {
    display: inline-block;
    /* position: relative; */
    position: sticky;
}


.img-container {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
}

.deck-container img {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
}

.deck-container {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
}



.extra-container {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    width: 125px;
    margin: 3px 3px;
    display: inline-block;
    position: relative;
}

.button {
    display: none;
    color: white;
    background-color: black;
    width: 100px;
    height: 35px;
    line-height: 30px;
}

/* .img-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: black;
  } */

.overlay .icon .icon-img {
    text-align: right !important;
    justify-content: right !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(170%, -780%);
    display: none;
}


.img-container:hover .icon-img {
    text-align: right !important;
    justify-content: right !important;
    top: 0 !important;
    right: 0 !important;
    transform: translate(130%, -540%);
    /* transform: translate(200%, -750%); */
    display: inline-block;
}

.img-container:hover .overlay {
    opacity: 0.5;
}

.deck-container:hover .button {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

/* .img-container .icon-img:hover {
      color: #eeeeee;
  } */

.page-wrapper button {
    border-radius: .5em;
    border: 1px solid black;
    background-color: #66FCF1;
    color: black;
}

.img-container:hover img {
    transform: scale(1.01);
}

@media (max-width: 501px) {
    .page-wrapper .title {
        width: 100%;
    }

    .page-wrapper .title h1 {
        font-size: 24px;
    }

    .page-wrapper .title img {
        width: 20%;
        height: 20%;
    }

    .page-wrapper .search-input {
        max-width: 100px;
    }

    .svg_icons {
        width: 30px;
        min-width: 0;
    }
}