/* .card-wrapper {
    margin: auto 25%;
    width: 50%;
} */

/* .card-wrapper .col-img img{
    width: 50%;
} */

.card-wrapper {
    display: flex;
    width: 90%;
    margin: 50px 150px;
}

.col-img {
    margin-left: 100px;
    padding-top: 25px;
}

.col-text {
    flex: 20%;
    text-align: left;
    padding: 25px;
    position: relative;
    margin-left: 50px;
}

#card-name {
    font-size: 36px;

}

#card-type {
    color: rgb(100, 172, 255);
    font-size: 24px;
    line-height: 0;
}

#card-description {
    position: absolute;
    /* bottom: 0; */
    width: 85%;
    font-size: 17px;
}

#where-to-get {
    line-height: 1;
}

#atkDef {
    line-height: 0;
}

.modal {
    width: 200px;
    box-shadow: 0 8px 16px 5px rgba(56, 145, 140, 0.2);
    border-radius: 2px;
}

.modal:hover {
    transform: scale(1.05);
}

.__react_modal_image__header {
    /* bottom: 0 !important; */
    top: 10% !important;
    background-color: transparent !important;

}

.__react_modal_image__caption {
    /* top: 50% !important; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    /* position: absolute; */
    width: 32%;
    /* margin: 25% auto !important; */
    margin-left: 65% !important;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8) !important;



}