.Footer {
    height: 15%;
    max-height: 115px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    /* background-color: #1F2833; */
    /* background-color: #373a40; */
    background-image: linear-gradient(#121212, rgb(59, 59, 59));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Footer a {
    text-align: center;
    justify-content: center;
    margin: auto 10px;
}

.FooterMobile {
    display: none;
}

@media (max-width: 501px) {

    .FooterMobile a {
        margin: 0 0;
        width: 150px;
    }

    .FooterMobile img {
        display: flex;
        width: 110px;

    }

    .FooterMobile {
        height: 15%;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #1F2833;
        /* background-image: linear-gradient(black, steelblue); */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 90;
    }

    .Footer {
        display: none;
    }
}

@media only screen and (min-width: 502px) and (max-width: 1889px) {}