.Logo {
    background-color: inherit;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;
    width: 600px;
}

@media (max-width: 501px) {
    .Logo {
        padding: 1px;
    }

    .Logo img {
        width: 93%;
    }
}