::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.GooglePic {
  max-width: 15%;
  border-radius: 50%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #2F4454;
  overflow: scroll;
  color: white;
  /* padding-bottom: 13em; */
  margin: auto 2.5%;
}

@media only screen and (max-width: 502px) {
  body {
    font-family: 'Lato', sans-serif;
    background-color: #2F4454;
    overflow: scroll;
    color: white;
    /* padding-bottom: 13em; */
    margin: auto 2.5%;
  }
}

@media only screen and (min-width: 502px) and (max-width: 1409px) {
  body {
    font-family: 'Lato', sans-serif;
    background-color: #2F4454;
    overflow: scroll;
    color: white;
    /* padding-bottom: 13em; */
    margin: auto 2.5%;
  }
}

/* Current 13in Mac screen */
@media only screen and (min-width: 1410px) and (max-width: 1889px) {
  body {
    font-family: 'Lato', sans-serif;
    background-color: #2F4454;
    overflow: scroll;
    color: white;
    /* padding-bottom: 13em; */
    margin: auto 2%;
  }
}

/* Current 23in monitor */
@media only screen and (min-width: 1890px) and (max-width: 2529px) {
  body {
    font-family: 'Lato', sans-serif;
    background-color: #2F4454;
    overflow: scroll;
    color: white;
    /* padding-bottom: 13em; */
    margin: auto 5%;
  }
}


@media only screen and (min-width: 2530px) {
  body {
    font-family: 'Lato', sans-serif;
    background-color: #2F4454;
    overflow: scroll;
    color: white;
    padding-bottom: 13em;
    margin: auto 15%;
  }
}