body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #2F4454;
  /* background-image: url("https://cutewallpaper.org/21/yugioh-background/Showcase-Yu-Gi-Oh-Legacy-of-the-Duelist.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #2F4454;
    overflow: scroll;
    color: white;
    padding-bottom: 10em;
  }
}

/*https://www.iconfinder.com/data/icons/7-millennium-items/512/Milennium_Puzzle_Icon_Colored-512.png
*/