.Comment {
    text-align: left !important;

    display: grid;

    grid-template-columns: 1fr 12fr;
    grid-template-rows: 1fr auto 1fr;

    margin: 10px 0;
    border-radius: .5em;

    grid-template-areas:
        "Comment-sidebar Comment-title"
        "Comment-sidebar Comment-body"
        "Comment-sidebar Comment-footer";

    background-color: #1b1a1f80;
    border: solid black 0.1em;
}

.Comment:hover {
    cursor: pointer;
    box-shadow: 0 1px 2px black;
}

.Comment .Comment-sidebar {
    grid-area: Comment-sidebar;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;

    background-color: #1F2833;
}

.Comment .Comment-sidebar>svg {
    color: rgb(130, 130, 130);
}

.Comment .Comment-sidebar>svg:hover {
    border-radius: 2px;

    background-color: rgb(220, 220, 220);
}

.Comment .Comment-sidebar>.upvote:hover {
    color: rgb(200, 0, 0);
}

.Comment .Comment-sidebar>.downvote:hover {
    color: var(--primary-color);
}

.Comment .Comment-sidebar>span {
    font-weight: 600;
    font-size: 13px;
}

.Comment .Comment-title {
    grid-area: Comment-title;
    padding: 5px 5px;
    padding-left: 10px;
    display: block;


}

.Comment .Comment-body {
    grid-area: Comment-body;
    font-size: 16px;
    padding-left: 10px;

}

.Comment .Comment-title .Comment-user {
    width: 50%;
    float: left;

}

.Comment .Comment-title .Comment-time {
    padding-right: 0px;
    font-size: 12px;
    text-align: right;
    width: 50%;
    float: right;
    color: rgb(150, 150, 150);
}

.Comment .Comment-title>.underline a {
    color: yellow;
    font-size: 18px;
}

.Comment .Comment-title>.underline:hover {
    color: white;
}

.upvote:hover {
    background-color: cadetblue;
}

.downvote:hover {
    background-color: cadetblue;
}