h2 {
    margin: 0px 0px;
    margin-top: 40px;
}

.search-container {
    /* text-align: center;
    margin-left: -30%; */
    padding-bottom: -20px;
    margin-bottom: -10px;
}

.search-container form{
    display: flex;
    justify-content: left;
}

.search-container .search-results img{
    margin: 5px 5px;
    border: white solid 1px;
    border-radius: 7px;
    width: 472px;
    height: 75.72px;
}

.search-container .search-results img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
    transform: scale(1.04);
    -webkit-box-shadow: 5px 7px 4px 3px rgba(70, 174, 219, 1);
    -moz-box-shadow: 5px 7px 4px 3px rgba(70, 174, 219, 1);
    box-shadow: 3px 2px 4px 3px rgba(70, 174, 219, 1);
}
@media screen and (min-width: 1200px) {
.boxes-container {
    margin: auto 11%;
    display: inline-block;
    font-size: 25px;
    }
}

@media screen and (min-width: 1600px) {
    .boxes-container {
        margin: auto 20%;
        display: inline-block;
        font-size: 25px;
        }
    }

.main-format {
    line-height: 1;
}

.main-format img {
    margin: 5px 10px;
    border: white solid 1px;
    border-radius: 7px;
    width: 472px;
    height: 75.72px;
}

.main-format img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
    transform: scale(1.04);
    -webkit-box-shadow: 5px 7px 4px 3px rgba(70, 174, 219, 1);
    -moz-box-shadow: 5px 7px 4px 3px rgba(70, 174, 219, 1);
    box-shadow: 3px 2px 4px 3px rgba(70, 174, 219, 1);
}


.sd-format img {
    margin: 5px 5px;
    border: white solid 1px;
    border-radius: 7px;
    width: 472px;
    height: 75.72px;
}

.sd-format img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
    transform: scale(1.04);
    -webkit-box-shadow: 5px 7px 4px 3px rgba(70, 174, 219, 1);
    -moz-box-shadow: 5px 7px 4px 3px rgba(70, 174, 219, 1);
    box-shadow: 5px 4px 4px 3px rgba(70, 174, 219, 1);
}

.box-list ul {
    list-style: none;
}

.box-list li {
    display: inline-block;
}