.cardlist {
    list-style: none;
    text-align: left;

    line-height: 30px;
    margin: auto 10px;
}

.cardlist a:link {
    text-decoration: none;
    color: #66FCF1;
    text-align: left;
}

.cardlist a:visited {
    text-decoration: none;
    color: #66FCF1;
}

.cardlist a:hover {
    text-decoration: underline;
    color: #66FCF1;
}

.cardlist a:active {
    text-decoration: underline;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
    text-align: left;
    vertical-align: bottom;
}

.box-page {
    text-align: center;
}