.cardlist {
    list-style: none;
    text-align: left;

    line-height: 30px;
    margin: auto 10px;
}

.cardlist a:link {
    text-decoration: none;
    color: #66FCF1;
    text-align: left;
}

.cardlist a:visited {
    text-decoration: none;
    color: #66FCF1;
}

.cardlist a:hover {
    text-decoration: underline;
    color: #66FCF1;
}

.cardlist a:active {
    text-decoration: underline;
}


.card-search-container {
    /* text-align: center;
    margin-left: -30%; */
    padding-bottom: -20px;
    margin-bottom: -10px;
}

.card-search-container form {
    display: flex;
    justify-content: left;
    margin-left: 100px;
}

.box-page {
    text-align: center;
}

@media (max-width: 501px) {
    .box-page {
        text-align: center;
        margin: auto;
    }

    .box-page .card-search-container form {
        place-content: center;
        margin-left: 0px;
    }

    .box-page .boxImage {
        width: 85%;
        padding-bottom: 1em;
        border-radius: .5em;
    }
}